wp_test
node_modules
*public
data
privacyExample.png
.DS_Store
redir_err.log
redir_out.log
server_err.log
server_out.log
tusd_output.log
tusd_errors.log
tellab1_errors
tellab1_output
proxy_err.log
auto_update.log
proxy_out.log
api_server_err.log
api_server_out.log
page_server_err.log
page_server_out.log
api-server.cert
api-server.key
dev-api.cert
dev-api.key
server.cert
server.key

junk
tellab_instructors
*.swp

certbot.output
old_page_routes
font-awesome
wp-test
